.container {
  height: 250px;
  border-top: 0.0625rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.125rem;
  padding: 3.125rem;
}

.title {
  font-weight: 400;
  color: #fff;
  background-color: green;
  padding: 0.3125rem;
  width: max-content;
}

.linkTitle {
  text-decoration: underline;
}

.linkText {
  margin-right: 1.25rem;
}

.cardL {
  flex: 2;
}

.cardS {
  flex: 1;
}

.cardItem {
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 780px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  .title {
    font-size: 1.875rem;
  }

  .linkTitle {
    font-size: 1.475rem;
  }

  .imgFooter {
    width: 20px;
    height: 20px;
  }

  .cardItem {
    text-align: center;
    font-size: 0.9375rem;
  }

  @media screen and (max-width: 480px) {
    .linkTitle {
      margin-bottom: 20px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
